/*Cada uma dessas tags é vista como uma caixa e pode receber modificações de estilo*/
* {
    margin: 0;
    padding: 0;
}
header {
    background: #BBBBBB;
    padding: 20px 0;
    margin-bottom: 3px;
}

.box {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.menu {
    display: flex;
}

nav {
    position: absolute;
    top: 110px;
    right: 0px;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;/* para deixar todas as letras com a aparência de maiusculas */
    color: #000000;
    font-weight: bold; 
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

#banner {
    width: 100%;
}

.principal {
    background: #cccccc;
    padding: 30px;
}

.titulo-principal {
    text-transform: uppercase;
    font-size: 30px;

}

.titulo-centralizado {
    text-align: center;
    /* height: 150px;
    border: 10px solid #000000;
    padding-top: 20px; -serve para inserir um espaçamento interno no bloco do elemento
    margin: 40px; -serve para inserir um espaçamento fora no bloco do elemento  */
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color: #ff0000;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: #ffffff;
    padding: 20px;
}

ul {
    display: inline-block;/* serve para organizar os itens para que ele ocupe somente o tamanho do conteúdo, mas deixa mexer na largura e espaçamentos*/
    vertical-align: top;/* por padrao o css alinha de baixo, para mudar isso usamos o top para alinhar com o topo*/
    width: 20%;
    margin-right: 15%;/* margem direita*/

}

.beneficios {
    width: 50%;
}

footer {
    text-align: center;
    background: url(imagens_produtos/bg.jpg);
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;

}